![](https://i.imgur.com/JsMvGnP.png)


## Exercícios de manipulação de dados - Parte 2

Neste Jupyter notebook você irá resolver uma exercícios utilizando a linguagem Python e a biblioteca Pandas.

Todos os datasets utilizados nos exercícios estão salvos na pasta **datasets**.

Todo o seu código deve ser executado neste Jupyter Notebook. Por fim, se desejar, revise as respostas com o seu mentor.

### Tarefa 1. Importe o dataset e salve os dados em um dataframe

Os dados estão salvos no arquivo ***datasets/US_Crime_Rates_1960_2014.csv***.

Este dataset contém dados de crimes ocorridos nos Estados Unidos no período de 1960 até 2014.

Salve os dados em uma variável de nome *crime*.

In [1]:
import pandas as pd

In [2]:
us = pd.read_csv("datasets/US_Crime_Rates_1960_2014.csv.", sep=",")

In [3]:
us.head()

,Year,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Tarefa 2. Qual o tipo de dados em cada coluna?

In [4]:
us.dtypes

Year                  int64
Population            int64
Total                 int64
Violent               int64
Property              int64
Murder                int64
Forcible_Rape         int64
Robbery               int64
Aggravated_assault    int64
Burglary              int64
Larceny_Theft         int64
Vehicle_Theft         int64
dtype: object

### Tarefa 3. Converta o tipo de dado da coluna Year para o tipo datetime

*Dica: procure na documentação da biblioteca como fazer tal conversão*

In [5]:
import pandas as pd 
us['Year'] = pd.to_datetime(us['Year'])
print(us)

                            Year  Population     Total  Violent  Property  \
0  1970-01-01 00:00:00.000001960   179323175   3384200   288460   3095700
1  1970-01-01 00:00:00.000001961   182992000   3488000   289390   3198600
2  1970-01-01 00:00:00.000001962   185771000   3752200   301510   3450700
3  1970-01-01 00:00:00.000001963   188483000   4109500   316970   3792500
4  1970-01-01 00:00:00.000001964   191141000   4564600   364220   4200400
5  1970-01-01 00:00:00.000001965   193526000   4739400   387390   4352000
6  1970-01-01 00:00:00.000001966   195576000   5223500   430180   4793300
7  1970-01-01 00:00:00.000001967   197457000   5903400   499930   5403500
8  1970-01-01 00:00:00.000001968   199399000   6720200   595010   6125200
9  1970-01-01 00:00:00.000001969   201385000   7410900   661870   6749000
10 1970-01-01 00:00:00.000001970   203235298   8098000   738820   7359200
11 1970-01-01 00:00:00.000001971   206212000   8588200   816500   7771700
12 1970-01-01 00:00:00.000001972   208230000   8248800   834900   7413900
13 1970-01-01 00:00:00.000001973   209851000   8718100   875910   7842200
14 1970-01-01 00:00:00.000001974   211392000  10253400   974720   9278700
15 1970-01-01 00:00:00.000001975   213124000  11292400  1039710  10252700
16 1970-01-01 00:00:00.000001976   214659000  11349700  1004210  10345500
17 1970-01-01 00:00:00.000001977   216332000  10984500  1029580   9955000
18 1970-01-01 00:00:00.000001978   218059000  11209000  1085550  10123400
19 1970-01-01 00:00:00.000001979   220099000  12249500  1208030  11041500
20 1970-01-01 00:00:00.000001980   225349264  13408300  1344520  12063700
21 1970-01-01 00:00:00.000001981   229146000  13423800  1361820  12061900
22 1970-01-01 00:00:00.000001982   231534000  12974400  1322390  11652000
23 1970-01-01 00:00:00.000001983   233981000  12108600  1258090  10850500
24 1970-01-01 00:00:00.000001984   236158000  11881800  1273280  10608500
25 1970-01-01 00:00:00.000001985   238740000  12431400  1328800  11102600
26 1970-01-01 00:00:00.000001986   240132887  13211869  1489169  11722700
27 1970-01-01 00:00:00.000001987   242282918  13508700  1483999  12024700
28 1970-01-01 00:00:00.000001988   245807000  13923100  1566220  12356900
29 1970-01-01 00:00:00.000001989   248239000  14251400  1646040  12605400
30 1970-01-01 00:00:00.000001990   248709873  14475600  1820130  12655500
31 1970-01-01 00:00:00.000001991   252177000  14872900  1911770  12961100
32 1970-01-01 00:00:00.000001992   255082000  14438200  1932270  12505900
33 1970-01-01 00:00:00.000001993   257908000  14144800  1926020  12218800
34 1970-01-01 00:00:00.000001994   260341000  13989500  1857670  12131900
35 1970-01-01 00:00:00.000001995   262755000  13862700  1798790  12063900
36 1970-01-01 00:00:00.000001996   265228572  13493863  1688540  11805300
37 1970-01-01 00:00:00.000001997   267637000  13194571  1634770  11558175
38 1970-01-01 00:00:00.000001998   270296000  12475634  1531044  10944590
39 1970-01-01 00:00:00.000001999   272690813  11634378  1426044  10208334
40 1970-01-01 00:00:00.000002000   281421906  11608072  1425486  10182586
41 1970-01-01 00:00:00.000002001   285317559  11876669  1439480  10437480
42 1970-01-01 00:00:00.000002002   287973924  11878954  1423677  10455277
43 1970-01-01 00:00:00.000002003   290690788  11826538  1383676  10442862
44 1970-01-01 00:00:00.000002004   293656842  11679474  1360088  10319386
45 1970-01-01 00:00:00.000002005   296507061  11565499  1390745  10174754
46 1970-01-01 00:00:00.000002006   299398484  11401511  1418043   9983568
47 1970-01-01 00:00:00.000002007   301621157  11251828  1408337   9843481
48 1970-01-01 00:00:00.000002008   304374846  11160543  1392628   9767915
49 1970-01-01 00:00:00.000002009   307006550  10762956  1325896   9337060
50 1970-01-01 00:00:00.000002010   309330219  10363873  1251248   9112625
51 1970-01-01 00:00:00.000002011   311587816  10258774  1206031   9052743
52 1970-01-01 00:00:00.000002012   313873685  10219059  1217067   9001992
53 1970-01-01 00:00:00.000002013   316497531   9850445  1199684   8650761
54 1970-01-01 00:00:00.000002014   318857056   9475816  1197987   8277829

    Murder  Forcible_Rape  Robbery  Aggravated_assault  Burglary  \
0     9110          17190   107840              154320    912100
1     8740          17220   106670              156760    949600
2     8530          17550   110860              164570    994300
3     8640          17650   116470              174210   1086400
4     9360          21420   130390              203050   1213200
5     9960          23410   138690              215330   1282500
6    11040          25820   157990              235330   1410100
7    12240          27620   202910              257160   1632100
8    13800          31670   262840              286700   1858900
9    14760          37170   298850              311090   1981900
10   16000          37990   349860              334970   2205000
11   17780          42260   387700              368760   2399300
12   18670          46850   376290              393090   2375500
13   19640          51400   384220              420650   2565500
14   20710          55400   442400              456210   3039200
15   20510          56090   470500              492620   3265300
16   18780          57080   427810              500530   3108700
17   19120          63500   412610              534350   3071500
18   19560          67610   426930              571460   3128300
19   21460          76390   480700              629480   3327700
20   23040          82990   565840              672650   3795200
21   22520          82500   592910              663900   3779700
22   21010          78770   553130              669480   3447100
23   19310          78920   506570              653290   3129900
24   18690          84230   485010              685350   2984400
25   18980          88670   497870              723250   3073300
26   20613          91459   542775              834322   3241410
27   20096          91110   517704              855088   3236184
28   20680          92490   542970              910090   3218100
29   21500          94500   578330              951710   3168200
30   23440         102560   639270             1054860   3073900
31   24700         106590   687730             1092740   3157200
32   23760         109060   672480             1126970   2979900
33   24530         106010   659870             1135610   2834800
34   23330         102220   618950             1113180   2712800
35   21610          97470   580510             1099210   2593800
36   19650          96250   535590             1037050   2506400
37   18208          96153   498534             1023201   2460526
38   16914          93103   446625              974402   2329950
39   15522          89411   409371              911740   2100739
40   15586          90178   408016              911706   2050992
41   16037          90863   423557              909023   2116531
42   16229          95235   420806              891407   2151252
43   16528          93883   414235              859030   2154834
44   16148          95089   401470              847381   2144446
45   16740          94347   417438              862220   2155448
46   17030          92757   447403              860853   2183746
47   16929          90427   445125              855856   2176140
48   16442          90479   443574              842134   2228474
49   15399          89241   408742              812514   2203313
50   14772          85593   369089              781844   2168457
51   14661          84175   354772              752423   2185140
52   14866          85141   355051              762009   2109932
53   14319          82109   345095              726575   1931835
54   14249          84041   325802              741291   1729806

    Larceny_Theft  Vehicle_Theft
0         1855400         328200
1         1913000         336000
2         2089600         366800
3         2297800         408300
4         2514400         472800
5         2572600         496900
6         2822000         561200
7         3111600         659800
8         3482700         783600
9         3888600         878500
10        4225800         928400
11        4424200         948200
12        4151200         887200
13        4347900         928800
14        5262500         977100
15        5977700        1009600
16        6270800         966000
17        5905700         977700
18        5991000        1004100
19        6601000        1112800
20        7136900        1131700
21        7194400        1087800
22        7142500        1062400
23        6712800        1007900
24        6591900        1032200
25        6926400        1102900
26        7257153        1224137
27        7499900        1288674
28        7705900        1432900
29        7872400        1564800
30        7945700        1635900
31        8142200        1661700
32        7915200        1610800
33        7820900        1563100
34        7879800        1539300
35        7997700        1472400
36        7904700        1394200
37        7743760        1354189
38        7373886        1240754
39        6955520        1152075
40        6971590        1160002
41        7092267        1228391
42        7057370        1246646
43        7026802        1261226
44        6937089        1237851
45        6783447        1235859
46        6607013        1192809
47        6568572        1095769
48        6588046         958629
49        6338095         795652
50        6204601         739565
51        6151095         716508
52        6168874         723186
53        6018632         700294
54        5858496         689527

### Tarefa 4. Configure a coluna Year como index do DataFrame.

*Dica: use a função set_index() do Pandas*

In [3]:
us = us.set_index('Year')

In [4]:
us.head()

,Population,Total,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
Year,,,,,,,,,,,
1960,179323175,3384200,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1961,182992000,3488000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
1962,185771000,3752200,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
1963,188483000,4109500,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
1964,191141000,4564600,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Tarefa 5. Remova a coluna Total do DataFrame.

In [15]:
us= us.drop(columns=['Total'])
us.head()

,Year,Population,Violent,Property,Murder,Forcible_Rape,Robbery,Aggravated_assault,Burglary,Larceny_Theft,Vehicle_Theft
0,1970-01-01 00:00:00.000001960,179323175,288460,3095700,9110,17190,107840,154320,912100,1855400,328200
1,1970-01-01 00:00:00.000001961,182992000,289390,3198600,8740,17220,106670,156760,949600,1913000,336000
2,1970-01-01 00:00:00.000001962,185771000,301510,3450700,8530,17550,110860,164570,994300,2089600,366800
3,1970-01-01 00:00:00.000001963,188483000,316970,3792500,8640,17650,116470,174210,1086400,2297800,408300
4,1970-01-01 00:00:00.000001964,191141000,364220,4200400,9360,21420,130390,203050,1213200,2514400,472800

### Tarefa 6. Encontre o número de roubos de carro do ano de 1978.

In [3]:
us['Vehicle_Theft'].value_counts(1978)

689527     0.018182
878500     0.018182
1224137    0.018182
1087800    0.018182
1610800    0.018182
1246646    0.018182
1102900    0.018182
1240754    0.018182
561200     0.018182
1261226    0.018182
1004100    0.018182
928800     0.018182
958629     0.018182
887200     0.018182
1112800    0.018182
966000     0.018182
1007900    0.018182
1394200    0.018182
716508     0.018182
1235859    0.018182
1564800    0.018182
1472400    0.018182
1192809    0.018182
328200     0.018182
700294     0.018182
496900     0.018182
1635900    0.018182
1009600    0.018182
723186     0.018182
1563100    0.018182
783600     0.018182
739565     0.018182
408300     0.018182
1131700    0.018182
977700     0.018182
948200     0.018182
1228391    0.018182
1539300    0.018182
928400     0.018182
1288674    0.018182
472800     0.018182
1237851    0.018182
1062400    0.018182
1095769    0.018182
659800     0.018182
366800     0.018182
1354189    0.018182
977100     0.018182
1152075    0.018182
1032200    0.018182
795652     0.018182
1661700    0.018182
1432900    0.018182
1160002    0.018182
336000     0.018182
Name: Vehicle_Theft, dtype: float64

### Tarefa 7. Retorne a linha do ano em que houve o maior número de assasinatos. 

*Dica: use a coluna Murder como referência.*

In [6]:
us.Murder.idxmax()

31

### Tarefa 8. Retorne o número de assassinatos do ano em que foi registrado o menor número de roubo de carros.

In [8]:
us.Murder[us.Vehicle_Theft.idxmin()]

9110

**Parabéns! Você chegou ao fim**